<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLGRwNu9Qjz1GjXJ6gt1xyLkHz3iJ6tmE</string>
	<key>GCM_SENDER_ID</key>
	<string>378411608143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paddletoday.mobile</string>
	<key>PROJECT_ID</key>
	<string>paddletoday-9933a</string>
	<key>STORAGE_BUCKET</key>
	<string>paddletoday-9933a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378411608143:ios:8eb321f8ba3e8ff4fd623a</string>
</dict>
</plist>